<!DOCTYPE html>
<html>
<title>Victory</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-deep-purple.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" type="image/x-icon" href={{ url_for('static', filename='img/vet_icon.png') }} />
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Victory</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-red">3</span></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      <a href="#" class="w3-bar-item w3-button">One new friend request</a>
      <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
      <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
    </div>
  </div>
  <div class="w3-dropdown-hover w3-hide-small w3-center" style="margin-top: 0.5rem">
    <form action="/search" method="post">
      <input type="text" style="padding-left: 2px" placeholder="Search Events and Posts" name="search">
      <button type="submit" style="border-radius:25%; padding: 5px;margin-bottom: 2px" class="w3-button w3-white"><i class="fa fa-search"></i></button>
    </form>
  </div>

  <div class="w3-dropdown-hover w3-hide-small w3-right" style="margin-right: 1rem;">
      
    <button style="border-radius: 100%" class="w3-button w3-padding-small" title="Notifications"><a href="#" class="w3-bar-item w3-button w3-purple" title="My Account">
        <img src="{{ url_for('static', filename='img/veteranAvatar.png') }}" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
    </a><i></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      <a href="#" class="w3-bar-item w3-button">Settings</a>
      <a href="{{url_for('logout')}}" class="w3-bar-item w3-button">Logout</a>
    </div>
  </div>

 </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
          {% if user_detail %}
            <h4 class="w3-center">My Profile</h4>
            <p class="w3-center"><img src="{{ url_for('static', filename='img/veteranAvatar.png') }}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
             <hr>
                {% if user_detail['full_name'] %}
                <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{user_detail['full_name']}}</p>
                {% endif %}

                {% if user_detail['state'] %}
                <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{user_detail['state'] }}, USA</p>
                {% endif %}

                {% if user_detail['dob'] %}
                <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{ user_detail['dob']}}</p>
                {% endif %}

            {% else %}
            <h4 class="w3-center">Hello </h4>
            {% endif %}
        </div>
      </div>
      <br>
      
      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <a href={{url_for('dashboard',tm_type='posts')}} class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> Timeline Posts</a>
          <a href={{url_for('dashboard',tm_type='resources')}} class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> Helpful Resources</a>
          <a href={{url_for('dashboard',tm_type='events')}} class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> Events</a>
        </div>
      </div>
      <br>
      
      <!-- Interests --> 
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
            <p><strong>Skills/Hobbies</strong> <button style="padding: 5px; border-radius: 50%; font-size: 20px; width: 40px; height: 40px" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">+</button></p>
          <p>
            {% if user_detail and user_detail.get('skill') %}
              {% for sk in user_detail.get('skill') %}
                <span class="w3-tag w3-small w3-theme-d5">{{sk}}</span>
              {% endfor %}
             {% endif %}
          </p>
        </div>
      </div>
      <br>

      <!-- Modal Window -->
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
          <header class="w3-container w3-deep-purple">
            <span onclick="document.getElementById('id01').style.display='none'"
            class="w3-button w3-display-topright">&times;</span>
            <h2>Add Skills</h2>
          </header>
          <form class="w3-container" action="{{ url_for('add_skill') }}" method="post">
            <h6 class="w3-opacity">Enter skill</h6>
            <input type="text" name="skill">
            <button type="submit">Add</button>
          </form>
            <br><br>
            <footer class="w3-container w3-deep-purple">
                <p></p>
            </footer>
        </div>
      </div>

      <!-- Alert Box -->
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>A new event has been posted, Check it out!</p>
      </div>

    </div>
    <!-- End Left Column -->
    {% if err  or msg %}
        <div class="w3-col m7">
        <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
                {% if err %}
                  <p style="color: red;font-style: italic;">{{ err }}</p>
                {% elif msg %}
                  <p style="color: green;font-style: italic;">{{ msg }}</p>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
      {% endif %}

    {% if results %}
    <div class="w3-col m7">
        <div class="w3-row-padding">
        <div class="w3-col m12">
            <h3>Search Results</h3>
        {% for th in results %}
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <img src="{{ url_for('static', filename='img/veteranAvatar.png') }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <span class="w3-right w3-opacity">{{th.get('date') |safe}}</span>
            <h4>{{th.get('mem_uploaded')|safe}}</h4><br>
            <hr class="w3-clear">
            {% if th.get('thought')|safe %}
            <p>{{th.get('thought')|safe}} </p>
            {% elif th.get('event_name')|safe %}
            <p>{{th.get('event_name')|safe}} </p>
            <p>{{th.get('event_details')|safe}} </p>
            <p>{{th.get('event_date')|safe}} </p>
            {% endif %}
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
        </div>
        {% endfor %}
         </div>
        </div>
        </div>
      </div>
    </div>
    {% endif %}
    
    <!-- Middle Column -->
    <div class="w3-col m7">
      {% if not show_info or (show_info.get("tm_type")!="events") %}
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
                {% if session["logged_in"] and (not show_info or show_info.get("tm_type")=="posts")%}
                <form action={{url_for("post_thought")}} method="post" enctype="multipart/form-data">
                    <h6 class="w3-opacity">How are you feeling today?</h6>
                    <input type="text" class="w3-border w3-padding" name="thought" placeholder="Feeling Blue" required>
                    <input type="file" name="fileToUpload" id="fileToUpload">
                    <button type="submit" class="w3-button w3-theme"><i class="fa fa-pencil"></i> Post</button>
                </form>
                {% elif session["logged_in"] and show_info.get("tm_type")=="resources"%}
                <form action={{url_for("job_posting")}} method="post">
                    <h6 class="w3-opacity">Post a Job to Help Veterans</h6>
                    <input type="text" class="w3-border w3-padding" name='job_title' placeholder="Job Title" required>
                    <input type="text" class="w3-border w3-padding" name='job_desc' placeholder="Description" required>
                    <input type="text" class="w3-border w3-padding" name='job_url' placeholder="JOB URL" required>
                    <button type="submit" class="w3-button w3-theme"><i class="fa fa-pencil"></i> Post</button>
                </form>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
       {% endif %}

   {% if thought_data %}
       {% for th in thought_data %}
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <img src="{{ url_for('static', filename='img/veteranAvatar.png') }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <span class="w3-right w3-opacity">{{th.get('date')}}</span>
            <h4>{{th.get('mem_uploaded')}}</h4><br>
            <hr class="w3-clear">
            {% if th.get("image_name") != 'img/' %}
            <img src={{url_for('static', filename=th.get('image_name'))}} style="width:100%" class="w3-margin-bottom">
            {% endif %}
            <p>{{th.get('thought')}} </p>
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
        </div>
        {% endfor %}
    {% endif %}

    {% if job_data %}
       {% for th in job_data %}
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <img src="{{ url_for('static', filename='img/veteranAvatar.png') }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <span class="w3-right w3-opacity">{{th.get('date')}}</span>
            <h4>{{th.get('mem_uploaded')}}</h4><br>
            <hr class="w3-clear">
            <p>{{th.get('title')}} </p>
            <p>{{th.get('description')}} </p>
            <p>{{th.get('url')}} </p>
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
        </div>
        {% endfor %}
    {% endif %}

    {% if event_data %}
       {% for th in event_data %}
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <img src="{{ url_for('static', filename='img/veteranAvatar.png') }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <span class="w3-right w3-opacity">{{th.get('event_date')}}</span>
            <h4>{{th.get('mem_uploaded')}}</h4><br>
            <hr class="w3-clear">
            <p>{{th.get('event_name')}} </p>
            <p>{{th.get('event_details')}} </p>
            <p>{{th.get('event_date')}} </p>
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
        </div>
        {% endfor %}
    {% endif %}

    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-hide-small">
            <form class="w3-container w3-padding" action="{{ url_for('add_event') }}" method="post">
              <h4 class="w3-opacity">New Event!</h4>
              <h6 class="w3-opacity">Event name:</h6>
              <input type="text"  name="event_name">
              <h6 class="w3-opacity">Event details:</h6>
              <input type="text"  name="event_details">
              <h6 class="w3-opacity">Event date:</h6>
              <input type="date" class="w3-border w3-padding" name="event_date">
              <br><br>
              <button type="submit" class="w3-button w3-theme"><i class="fa fa-pencil"></i> Post</button>
            </form>
        </div>
    </div>

    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <img src="{{ url_for('static', filename='img/upcoming.jpg') }}" alt="Forest" style="width:100%;">
          {% if ev %}
            <p><strong>{{ev.get('event_name')}}</strong></p>
          <p>{{ev.get('event_date')}}</p>
          <p><button class="w3-button w3-block w3-theme-l4">{{ev.get('event_description')}}</button></p>
            {% else %}
            <p><strong>Event Coming Soon</strong></p>
            {% endif %}
        </div>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-center">
        <form class="w3-container" action={{url_for('donate')}}>
          <p>Help the Community</p>
          <img src="{{ url_for('static', filename='img/veteranAvatar.png') }}" alt="Avatar" style="width:50%"><br>
          {% if user_detail %}
            <span>{{user_detail['full_name']}}</span>
          {% endif %}
            <div class="w3-row w3-opacity">
            <div class="w3-button">
              <a href="{{ url_for('donate') }}"><button class="w3-button w3-green w3-section" title="Accept"><i class="fa fa-donate">Donate</i></button></a>
            </div>
          </div>
        </form>
      </div>
      <br>
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d5">
  <p>Powered by BOSTON HACKS</p>
</footer>

</body>
</html> 
