<!DOCTYPE html>
<html>
<title>Victory</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<header class="w3-container w3-deep-purple">
  <h1><center>Victory</center></h1>
</header>

<div class="w3-container w3-half w3-margin-top w3-animate-left w3-display-bottommiddle">
<form class="w3-container w3-card-4 " action="{{url_for('user_login')}}">
<h2>Login</h2>
            {% if err %}
                <p style="color: red;font-style: italic;">{{ err }}</p>
            {% elif msg %}
                <p style="color: blue;font-style: italic;">{{ msg }}</p>
            {% endif %}
<p>
<input class="w3-input" type="email" style="width:90%" required>
<label>Email</label></p>
<p>
<input class="w3-input" type="password" style="width:90%" required>
<label>Password</label></p>
<p><a class="w3-button w3-section w3-purple w3-ripple w3-left" href="{{ url_for('user_signup') }}"> Signup </a></p>

<p>
<button class="w3-button w3-section w3-deep-purple w3-ripple w3-right" type="submit"> Log in </button></p>

</form>

</div>
</body>
</html>