<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  
  
  
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">

  
</head>

<body>
  <h1 style="color: black"><strong><center>Victory</center></strong></h1>
  <br><br>
  <body>
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>

			<form class="login-form" action="/dashboard">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" id="login-name">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" id="login-pass">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<button type="submit" class="btn btn-primary btn-large btn-block">login</button>
			</form>
		</div>
		<p style="color: black">Not a member?<a class="btn btn-primary btn-large btn-block" style="text-align: center" href="/userSignup">Signup</a></p>
	</div>
	</div>
</body>
  
  

</body>

</html>
