<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Victory</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <link rel="shortcut icon" type="image/x-icon" href={{ url_for('static', filename='img/vet_icon.png') }} />
</head>
<body>
    <p style="align-content: center; font-size: xx-large">
        {%if err %}
            {{ msg }}
        {% else %}
            {{ msg }}
        {% endif %}
    </p>
</body>
</html>