<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Victory</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <link rel="shortcut icon" type="image/x-icon" href={{ url_for('static', filename='img/vet_icon.png') }} />
</head>
<body>
    <div class="row">
        {%if err %}
            <h1 style="color: black"><strong><center>Transaction Unsuccessful</center></strong></h1>
            <p>{{ msg }}</p>
        {% else %}
            <h1 style="color: black"><strong><center>Transaction Successful!</center></strong></h1>
            <p style="color:black">Transaction id : {{ msg }}</p>
        {% endif %}
    </div>
    <div class="row">
        <a href="{{ url_for('dashboard') }}"><button class="btn">Back to dashboard</button></a>
    </div>

</body>
</html>